<<<<<<< HEAD
/*
	vimeo color = rgb(26,183,234)
*/

* {
  box-sizing: border-box;
}

body {
	margin:  0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#landing-page-container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(26,183,234);
	opacity: .7;
}

img {
	width: 300px;
	text-align: center;
}

header{
	width:  100%;
	height: 125px;
	border-bottom: 1px solid lightgray;
	border-radius: 5px; 
}

.login {
	text-align: center;
}

#logo-container {
	position: relative;
	display: block;
	width: 500px;
	margin: auto;
	margin-top: 30%;
}

button {
  padding: 6px;
  background: none;
  border: 1px solid lightgray;
  border-radius: 6px;
  color: gray;
}

button:hover {
  padding: 6px;
  background: none;
  border: 1px solid white;
  border-radius: 6px;
  background-color: rgb(26,183,234);
  color: white;
}

input{
	padding: 6px;
  background: none;
  border: 1px solid lightgray;
  border-radius: 6px;
  color: gray;
}

.user{
	width: 200px;
	height: 20px;
	background-color: whitesmoke;
}































=======
.selected {
	color: red;
}
>>>>>>> c1d58f0f71046329d04081094e5477668a193782
