* {
  box-sizing  : border-box;
  font-family : lato;
}

.hidden {
	display : none;
}

body {
	margin           : 0;
	padding          : 0;
	width            : 100%;
	height           : 100%;
	background-color : deepskyblue;
}

header {
	top                     : 0;
	width                   : 100%;
	height                  : 120px;
	background-color        : white;
	margin-bottom           : 50px;
  -webkit-animation-delay : 1s;
}

.logo-container{
	width            : 300px;
	margin           : auto; 
	background-color : deepskyblue;
	cursor 					 : pointer;
}

.nobg-logo {
	width : 100%;
}


/* 
	----------------
 	* user / login *
 	----------------
*/ 

#login-container {
	width                      : 500px;
	height                     : 450px;
	margin                     : auto;
	padding                    : 25px;
	background-color           : white;
	border-top-left-radius     : 10px;
	border-top-right-radius    : 10px;
	border-bottom              : 3px solid deepskyblue;
	-webkit-animation-duration : 1s;
}

#login-view {
	overflow                   : scroll;
	width                      : 100%;
	height                     : 100%;
	margin 					           : auto;
	border-top-left-radius     : 7px;
	border-top-right-radius    : 7px;
	border-bottom-left-radius  : 2px;
	border-bottom-right-radius : 2px;
	border-top                 : 2px solid lightgrey;
	border-left                : 2px solid lightgrey;
	border-right               : 2px solid lightgrey;
	border-bottom              : 1px solid lightgrey;
}

.user {
	margin : 25px auto;
	width  : 300px;
	cursor : default;
}

.user-name {
	display                   : inline-block;
	overflow                  : scroll;
	width                     : 250px;
	height                    : 60px; 				
	padding                   : 9px;
	font-size                 : 2em;
	font-weight               : 200;
	border-top-left-radius    : 5px;
	border-bottom-left-radius : 5px;
	border-bottom             : 2px solid lightgrey;
	background-color          : whitesmoke;
	color                     : darkgrey;
}

.user-name:hover {
	background-color : white;
	color            : black;
	font-weight   	 : 300;
	border-top       : 2px solid lightgrey;
	border-left      : 2px solid lightgrey;
	border-right     : 1px solid lightgrey;
	border-bottom    : 1px solid lightgrey;
}

.delete-user {
	display                    : inline-block;
	width                    	 : 50px;
	height                     : 60px; 				
	padding                  	 : 10px;
	float                   	 : right;
	line-height                : 1.6em;
	font-size                	 : 1.5em;
	font-weight              	 : 200;
	text-align                 : center; 
	border-top-right-radius    : 5px;
	border-bottom-right-radius : 5px;
	border-bottom            	 : 2px solid lightgrey;
	border-left             	 : 1px solid lightgrey;
	background-color         	 : whitesmoke;
	color                    	 : darkgrey;
}

.delete-user:hover {
	background-color : white;
	color            : indianred;
	font-weight   	 : 300;
	border-top       : 2px solid lightgrey;
	border-left      : 1px solid lightgrey;
	border-right     : 2px solid lightgrey;
	border-bottom    : 1px solid lightgrey;
}

#create-user-view {
	width            					 : 500px;
	height           					 : 120px;
	margin           					 : auto;
	padding          					 : 20px 20px;
	background-color 					 : white;
	border-bottom-left-radius  : 10px;
	border-bottom-right-radius : 10px;
	-webkit-animation-duration : 1s;
}

#name-input {
	display                   : inline-block;
	width                    	: 380px;
	height                    : 80px; 				
	padding                  	: 10px;
	float                   	: left;
	font-size                	: 2em;
	font-weight              	: 200;
	text-align                : center;
	border-style              : none;  
	border-top-left-radius    : 5px;
	border-bottom-left-radius : 5px;
	border-bottom            	: 2px solid lightgrey;
	background-color         	: whitesmoke;
	color                    	: darkgrey;
  outline: none;
}

#name-input:hover {
	background-color : white;
	color            : black;
	font-weight   	 : 200;
	border-top       : 2px solid lightgrey;
	border-left      : 2px solid lightgrey;
	border-right     : 1px solid lightgrey;
	border-bottom    : 1px solid lightgrey;
}

#name-input:focus {
	background-color : white;
	color            : black;
	font-weight   	 : 300;
	border-top       : 2px solid lightgrey;
	border-left      : 2px solid lightgrey;
	border-right     : 1px solid lightgrey;
	border-bottom    : 1px solid lightgrey;
}

#create-user-button {
	display                    : inline-block;
	width                    	 : 80px;
	height                     : 80px; 				
	padding                  	 : 10px;
	float                   	 : right;
	font-size                	 : 3em;
	font-weight              	 : 200;
	text-align                 : center; 
	border-top-right-radius    : 5px;
	border-bottom-right-radius : 5px;
	border-bottom            	 : 2px solid lightgrey;
	border-left             	 : 1px solid lightgrey;
	background-color         	 : whitesmoke;
	color                    	 : darkgrey;
}

#create-user-button:hover {
	background-color : white;
	color            : mediumaquamarine;
	font-weight   	 : 300;
	border-top       : 2px solid lightgrey;
	border-left      : 1px solid lightgrey;
	border-right     : 2px solid lightgrey;
	border-bottom    : 1px solid lightgrey;
}


/* 
	---------------
 	* preferences *
 	---------------
*/ 

#preferences-container {
	width                   : 500px;
	height                  : 450px;
	margin                  : auto;
	padding                 : 25px;
	background-color        : white;
	border-top-left-radius  : 10px;
	border-top-right-radius : 10px;
	border-bottom           : 3px solid deepskyblue;
}

#preferences-start-button-container {
	width            					 : 500px;
	height           					 : 120px;
	margin           					 : auto;
	padding          					 : 20px;
	background-color 					 : white;
	border-bottom-left-radius  : 10px;
	border-bottom-right-radius : 10px;
}

#start-interval-button {
	display          : inline-block;
	width            : 100%;
	height           : 100%; 				
	padding          : 10px;
	font-size        : 3em;
	font-weight      : 200;
	text-align       : center; 
	border-radius    : 5px; 
	border-bottom    : 2px solid lightgrey;
	border-right     : 0px;
	border-left	     : 0px;
	border-top	     : 0px;
	background-color : whitesmoke;
	color            : darkgrey;
}

#start-interval-button.enabled:hover {
	background-color : white;
	color            : mediumaquamarine;
	font-weight   	 : 300;
	border-top       : 2px solid lightgrey;
	border-left      : 2px solid lightgrey;
	border-right     : 2px solid lightgrey;
	border-bottom    : 1px solid lightgrey;
}

#start-interval-button.enabled:active {
	background-color : mediumaquamarine;
	color            : white;
	font-weight   	 : 300;
}

#start-interval-button.disabled:hover {
	background-color : white;
	color            : indianred;
	font-weight   	 : 300;
	border-top       : 1px solid lightgrey;
	border-left      : 1px solid lightgrey;
	border-right     : 1px solid lightgrey;
	border-bottom    : 2px solid lightgrey;
}

.set-times {
	width         : 360px;
	margin        : auto;
	height        : 50px;
	margin-bottom : 20px; 
}

.for-time {
	width         : 150px;
	text-align    : right;
	padding-right : 10px;
}

.minutes {
	width        : 125px;
	text-align   : left;
	padding-left : 10px;
}


.preferences-text {
	display     : inline-block;
	font-size   : 2em;
	line-height : 50px;
}

.preferences-input {
	display          : inline-block;
	width            : 75px;
	height 					 : 50px;				
	padding          : 5px;
	font-size        : 2em;
	font-weight      : 300;
	text-align       : center;
	border-style     : none;  
	border-radius    : 5px;
	border-top       : 2px solid lightgrey;
	border-left      : 2px solid lightgrey;
	border-right     : 2px solid lightgrey;
	border-bottom    : 1px solid lightgrey;
	background-color : white;
	color            : deepskyblue;
  outline          : none;
}

.preferences-input:focus {
	background-color : white;
	color            : darkgrey;
}

.interests {
	display     : inline-block;
	width       : 100%;
	height      : 30px;
	margin      : 0 0 3px;
	text-align  : center; 
	font-size   : 1.25em; 
	line-height : 30px;
	color       : darkgrey; 
}

#keywords-box {
	overflow         : scroll;
	width            : 100%;
	height           : 225px;
	border-radius    : 5px;
	border-top       : 2px solid lightgrey;
	border-left      : 2px solid lightgrey;
	border-right     : 2px solid lightgrey;
	border-bottom    : 1px solid lightgrey;
	margin 					 : auto;
}

.keyword {
	width            : 95%;
	height           : 45px;
	margin           : 10px auto; 
	text-align       : center;
	font-size        : 1.25em;
	font-weight   	 : 200;
	line-height      : 40px;  
	border-bottom    : 2px solid lightgrey;
	border-radius    : 5px;
	background-color : whitesmoke;
	color            : darkgrey;
	cursor 					 : default;
}

.selected {
	background-color : white;
	color            : black;
	font-weight   	 : 300;
	border-top       : 2px solid lightgrey;
	border-left      : 2px solid lightgrey;
	border-right     : 1px solid lightgrey;
	border-bottom    : 1px solid lightgrey;
}

.selected {
	background-color: white;
	color 					: black;
}


/* 
	---------------
 	* timer *
 	---------------
*/ 

#timer-view {
	width 					: 500px;
	margin 					: 0 auto;
	text-align 			: center;
	cursor 					: default;
}

#timer-view span {
	font-size: 190px;
}

#go-back-button {
	display                    : inline-block;
	width                    	 : 60%;
	height                     : 60%; 				
	padding                  	 : 10px;
	margin-top  							 : 40px;
	font-size                	 : 1em;
	font-weight              	 : 200;
	text-align                 : center; 
	border-radius              : 5px; 
	border-bottom            	 : 2px solid lightgrey;
	border-right				 : 1px solid lightgrey;
	border-left					 : 1px solid lightgrey;
	border-top					 : 1px solid lightgrey;
	background-color         	 : whitesmoke;
	color                    	 : darkgrey;
}

#go-back-button:hover {
	background-color : white;
	color            : mediumaquamarine;
	font-weight   	 : 300;
	border-top       : 2px solid lightgrey;
	border-left      : 2px solid lightgrey;
	border-right     : 2px solid lightgrey;
	border-bottom    : 1px solid lightgrey;
}

#go-back-button:active {
	background-color : mediumaquamarine;
	color            : white;
	font-weight   	 : 300;
}

/* 
	---------------
 	* video view *
 	---------------
*/ 

#video-modal-view {
	width: 700px;
	margin: 0 auto;
	text-align: center;
}






